    
	{% extends "::layoute.html.twig" %}
    {% block title %} 
       Test - {{ parent() }} 
    {% endblock %} 
    {% block body %}
        
         <h1>Rendering Recruitment Test</h1>
        	
         <hr>
        	
         
        	
         {% block sdzblog_body %}
        	
		 {% endblock %}
        		        
    {% endblock %}
  