
{% extends "Sdz1BlogBundle::myLayout.html.twig" %}
{% block title %}
	Ajout - {{ parent() }}
{% endblock %}
{% block body %}
	<h2>Ajout</h2>
	{% include "Sdz1BlogBundle:Blog:formulaire.html.twig" %}
	<p>
		Attention: Les données serons ajouté directement sur la page d'accueil après validation du formulaire.
	</p>
{% endblock %}